/* This website is created by: Abhinav mittal, Manpreet Kaur, Samrithi, Aarti & Jobanjeet Kaur*/

/* Styles for navigation bar starts here */
nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: auto;
    top: 0;
    overflow: auto;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    padding: 15px;
    border-radius: 25px;
    padding: 12px;
}

nav ul li a.active {
    background-color: limegreen;
    color: white;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

/* media query for browser window smaller than 600px, setting the nav bar in middle and vertically */
@media screen and (max-width: 600px) {
    nav ul li a {
        text-align: center;
        float: none;
    }
}
/* Styles for navigation bar ends here */


/* Created a class with property to align the text in center of the element */
.align-center {
    text-align: center;
}

/* Created a class with property to change the shape of the bullet points to square */
.square_list_type {
    list-style-type: square;
}

/* Styles for footer element, aligning the text in center and color to white */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}


/* styles for body, setting the position, height and size */
body {
    /* Full height */
    height: 100%;
    margin: 0;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Styles for input and textarea elements with properties such as padding, border style and margin */
input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Created a class for button element with properties such as background color, color and border style. */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Created a class with properties such as color and border style and made the background blur a bit. */
.blur-box {
    border: 0px solid #f1f1f1 !important;
    border-radius: 16px;
    padding: 40px;
    font-family: monospace, sans-serif, "Times New Roman", Times;
    font-size: 26px;
    backdrop-filter: blur(8px);
    color: white;
}